<app-header></app-header>
<div class="content">
  <div class="page-header">
    <h1 class="title">Dashboard</h1>
    <ol class="breadcrumb">
      <li class="active">This is a quick overview of some features</li>
    </ol>
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">Dashboard</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
  </div>
  <div class="container-widget" style="min-height: 540px;">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
